#advisors{
  margin-bottom: 60px;
}

#advisors h2{
  color: #e63b99;
  font-weight: bold;
  text-align: center;
}

#advisors h3{
  color:white;
  margin-bottom: 10px;
  text-align: center;
}

#advisors .visual{
  text-align: center;
}

#advisors .profil{
  margin-bottom: 20px;
}

#advisors .profil img{
  max-width: 75%;
}

#advisors .linkedin img{
  width: 30px;
  position: absolute;
  right: 0px;
  top: 0;
}

#advisors .content-one{
  margin-bottom: 20px;
}

#advisors .content-one h2{
  text-align: left;
}
#advisors .content-one h3{
  text-align: left;
}

#advisors .para{
  color:white;
  font-size:15px;
  line-height: 1.2;
  text-align: justify;
}
