//Boutons

.btn{
    display: inline-block;
    min-width: 150px;
    color: $pink;
    background-color: #fff;
    font-weight: bold;
    border: solid 2px #fff;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
    font-size: 1.8rem;
    transition: 0.3s;
    margin-bottom: 10px;

    &:hover{
      background-color: transparent;
      border: solid 2px #fff;
    }
}
