/* Header */


#header {
  background: #e63b99;
  position: fixed;
  padding: 5px 0;
  width:100%;
  z-index: 99;
}

#header #logo_top{
  line-height: 40px;
  margin-left:10px;
}


#header .left-side a:hover {
  color:black;
  transition: 0.2s;
}

#header .left-side {
  text-align: left;
  display:inline-block;
}

#header .left-side a {
  margin: 6px 25px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
}

#header .left-side a:hover {
  color:black;
  transition: 0.2s;
}



#header #logo_top{
  height:100%;
}

#header #logo_top img {
  line-height: 100%;
  margin-top: 4px;
  margin-right: 15px;
}

//Drapeau de langue

.language-flag{
  text-align: right;

  &__ico{
    display: inline-block;
    width: 30px;
    margin-right: 15px;
    &:last-child{
      margin-right:0;
    }

    img{
      max-width: 100%;
      height: auto;
    }
  }
}


/* Menu mobile */

#header .menu-mobile .hide-link{
  display:none;
}
@media screen and (max-width: 990px) {
  #header .menu-mobile .hide-link{
    display:block;
  }
  #header .menu-mobile{
    background-color: #e63b99;
    padding: 0px 10px;
    border-top: white solid 1px;
  }
  #header .menu-mobile a{
    display:block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    transition: 0.2s;
  }
  #header .menu-mobile a:hover{
    display:block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    color: black;
    transition: 0.2s;
  }
  #header #logo_top img {
    margin-top: 9px;
  }
}
