.whitepaper.inb{
  display:inline-block;
  position: relative;
}

.whitepaper.inb .name{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.whitepaper .sub-lang{
  display: none;
  position: absolute;
  width: 100px;
  margin: auto;
  background: white;
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 30px;
  padding: 5px;
}

.whitepaper.inb .sub-lang{
  top:40px;
}

.whitepaper .sub-lang a{
  color:black;
}
.whitepaper .sub-lang a:hover{
  color:#e63b99;
}

.sub-lang{
  .EN, .FR, .CN, .AR{
    position: relative;
    margin:5px 0;
    padding-left: 15px;
    &:before{
      content:"";
      display: inline-block;
      position: absolute;
      top:50%;
      left:8px;
      transform:translate(0, -50%);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .EN{
    &:before{
      content:"";
      background-image: url('/images/picto/flag_EN.svg');
    }
  }

  .FR{
    &:before{
      content:"";
      background-image: url('/images/picto/flag_FR.svg');
    }
  }

  .CN{
    &:before{
      content:"";
      background-image: url('/images/picto/flag_CN.svg');
    }
  }

  .AR{
    &:before{
      content:"";
      background-image: url('/images/picto/flag_AR.svg');
    }
  }

  a{
    color: #000 !important;
    margin: 0;
  }
}

.whitepaper .outline:hover > .sub-lang{
  display: block;
}

@media screen and (max-width: 990px) {
  .whitepaper .outline:hover > .sub-lang{
    display: block;

  }
  .whitepaper .sub-lang{
    position: relative;
    display: block;
    background-color: transparent;
    top:auto;
  }
}
