//Variables projet

//--------------------------------------------
// Couleurs
//--------------------------------------------

$jaune: #ffd900 !default;
$rose: #e63b99 !default;
$vert: #69ddc8 !default;

//--------------------------------------------
//Social
//--------------------------------------------

$social-jaune: $jaune !default;
$social-rose: $rose !default;
$social-vert: $vert !default;
