//Variables projet

//--------------------------------------------
// Couleurs
//--------------------------------------------

$yellow: #ffd900 !default;
$pink: #e63b99 !default;
$green: #69ddc8 !default;

//--------------------------------------------
//Social
//--------------------------------------------

$social-yellow: $yellow !default;
$social-pink: $pink !default;
$social-green: $green !default;
