//Import des styles Bootstrap
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

//Import de la typo
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

//Config
@import "config/variables";

//Composants
@import "components/btn";
@import "components/promo";
@import "components/header";
@import "components/social";
@import "components/team";
@import "components/advisor";
@import "components/chat";


/*Yellow : ffd900
purple : e63b99
Cyan : 69ddc8*/

.grecaptcha-badge {
  display:none;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  font-size: 1rem;
}

button {
  outline:0 !important;
}

a, a:hover {
  color:#fff;
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-size: 20px;
}

.container{
  max-width: 1200px;
  margin:auto;
}

.hamburger img{
  width: 25px !important;
  margin-top: 0px !important;
  margin-right: 5px !important;
  cursor: pointer;

}

@media screen and (min-width: 991px) {
  .hamburger img{
    display: none;
  }
}

.table th {
  border-top:0;
}


@media screen and (min-width: 1572px) {
  html {
    font-size:12px;
  }
}

@media screen and (max-width: 1572px) {
  html {
    font-size:11px;
  }
}

@media screen and (max-width: 1209px) {
  html {
    font-size:10px;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size:9px;
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size:8px;
  }
}

@media screen and (max-height: 600px) {
  html {
    font-size:7px;
  }
}


@media screen and (max-width: 990px) {
  .hide-link{
    display:none !important;
  }
}


/* ICO page */


/* Main */

.whitepaper.inb{
  display:inline-block;
  position: relative;
}

.whitepaper.inb .name{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.whitepaper .sub-lang{
  display: none;
  position: absolute;
  width: 100px;
  margin: auto;
  background: white;
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 30px;
  padding: 5px;
}

.whitepaper.inb .sub-lang{
  top:40px;
}

.whitepaper .sub-lang a{
  color:black;
}
.whitepaper .sub-lang a:hover{
  color:#e63b99;
}

.whitepaper .outline:hover > .sub-lang{
  display: block;
}

@media screen and (max-width: 990px) {
  .whitepaper .outline:hover > .sub-lang{
    display: block;

  }
  .whitepaper .sub-lang{
    position: relative;
    display: block;
    background-color: transparent;
    top:auto;
  }

  #main .cta .outline:hover{
    background-color: transparent !important;
    cursor: auto;
    color: #e63b99;
    transition: 0.3s;
  }

}

.background_img_top{
  background: url('/images/wave_bg.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  min-height: 100vh;
}

#main{
  display: flex;
  min-height: 100vh;
  padding: 11vh 0 5vh 0;
  align-items: center;
  justify-content: center;
}

#main .cta .outline{
  word-break: break-all;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  color:white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 5px 15px;
  display: block;
  text-align: center;
  font-size:16px;
  transition: 0.3s;
  margin-bottom: 10px;
}

#main .cta .outline:hover{
  background-color: white;
  color: #e63b99;
  transition: 0.3s;
}


#main .cta .app{
  background-color: #e63b99; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63b99', endColorstr='#bf3173',GradientType=0 ); /* IE6-9 */
  font-weight: bold;
  width: 100%;
  border: solid 2px #e63b99;
  border-radius: 30px;
  padding: 5px 15px;
  display: block;
  text-align: center;
  font-size:16px;
  transition: 0.3s;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#main .cta .app:hover{
  background-color: transparent;
  transition: 0.3s;
  color: #e63b99
}

#main h2{
  font-size: 36px;
  text-align:center;
  color:white;
  font-weight: bold;
}

#main h3{
  font-size: 24px;
  text-align:center;
  color:white;
}

#main #visual{
  //margin-top: 65px;
  text-align: center;
}

#main #visual h1{
  text-align: center;
  font-size: 3.8rem;
  color:white;
}
#main #visual h3{
  text-align: center;
  font-size: 2.2rem;
  color:white;
}

#main .mockup{
  width: 100%;
  max-width: 600px;
}

.eth{
  max-width: 100%;
  margin-bottom: 10px;
}
.center{
  text-align: center;
}

/* Video */

.background-img-video{
  background: url('/images/background-video.jpg') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  height: calc(95vw/1.77);
}

#video{
  height: calc(95vw/1.77);
  max-width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}


#video a:hover{
  opacity: 0.6;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  width: 100vw;
  height: calc(95vw/1.77);
}


/* About ico */

.background-radient-about{
  background: #e53b96; /* Old browsers */
  background: -moz-linear-gradient(top, #e53b96 0%, #8c2467 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e53b96 0%,#8c2467 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e53b96 0%,#8c2467 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53b96', endColorstr='#8c2467',GradientType=0 );
}

#about{
  padding: 55px 0;
}

#about .logo-transparent{
  max-width: 100%;
}
#about .para{
  margin-top: -30px;
}
#about p{
  font-size: 16px;
  color: white;
  text-align: justify;
}

#about #mockup{
  text-align: center;
  margin:auto;
}

#about #mockup img{
  max-width: 75%;
}
